.top {
    background-color: #24252a;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: transparent;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: transparent;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*----------------------------- top nav Start here----------------------------*/

.logo {
    width: auto;
    height: 20px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


/*----------------------------- top nav end here----------------------------*/


/*----------------------------- Row and col for header section start here----------------------------*/

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(germany-munich-germany-munich-wallpaper-preview.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
    overflow: hidden;
}

.text-box {
    color: #fff;
    position: absolute;
    bottom: 8%;
}

.text-box p {
    font-size: 30px;
    font-weight: 600;
}

.text-box h1 {
    font-family: Lobster;
    font-size: 50px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.text-box h3 {
    font-size: 20px;
    font-weight: 300;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
}

.col-2 {
    flex-basis: 50%;
    min-width: 500px;
    color: #f2f2f2;
    text-align: center;
    justify-content: flex-start;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h3 {
    font-size: 50px;
    font-family: zillaslab;
    color: #f2f2f2;
}


/*----------------------------- Row and col end here----------------------------*/


/*----------------------------- slogan end here----------------------------*/


/*----------------------------- slogan end here----------------------------*/


/*----------------------------- league class start here----------------------------*/

.league {
    width: 100%;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 80px;
    color: black;
    background: radial-gradient(rgb(189, 156, 156), #f8b8b8);
}

.league .col-2 {
    flex-basis: 50%;
    min-width: 300px;
    color: #f2f2f2;
}

.league .col-2 h3,
h4 {
    color: #24252a;
}

.league .col-2 .ycfl-img {
    width: 260px;
    padding: 30px 0px;
}

.league .col-2 .ycfl-img img {
    width: 100%;
}

.btn-league {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    color: #f2f2f2;
    background-color: #24252a;
}

.btn-league:hover {
    background-color: violet;
}


/*----------------------------- League class end here----------------------------*/


/*-----------------------------teams class start here----------------------------*/

.ycfl-teams {
    padding: 30px;
    background-color: #24252a;
    text-align: center;
}

.ycfl-teams h2,
h1 {
    font-family: zillaslab;
    margin-bottom: 30px;
    color: #f2f2f2;
}

.ycfl-teams .row .teams {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
    display: inline-block;
}


/*----------------------------- teams class end here----------------------------*/


/*-----------------------------teams class start here----------------------------*/

.zi-img {
    width: 300px;
    margin-left: 185px;
}

.zi-img img {
    width: 100%;
}

.zi-teams {
    padding: 30px;
    background: radial-gradient(rgb(189, 156, 156), #f8b8b8);
    text-align: center;
}

.zi-teams h2,
h1 {
    font-family: zillaslab;
    margin-bottom: 30px;
    color: #24252a;
}

.zi-teams .row .teams {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
    display: inline-block;
}


/*----------------------------- teams class end here----------------------------*/


/*----------------------------- Footer start here----------------------------*/

footer {
    padding-top: 50px;
    background-color: #24252a;
}

footer h3,
p {
    font-family: montserrat;
    margin-top: 30px;
    text-align: center;
    color: #f2f2f2;
}

footer ul li {
    list-style: none;
    padding: 8px;
    align-items: center;
    margin: 40px;
    display: inline-block;
}

footer ul li {
    color: #f2f2f2;
}


/*----------------------------- Footer end here--------------------------*/


/*----------------------------- Table class Start here  end here----------------------------*/

.ycfl-table {
    text-align: center;
    color: #f2f2f2;
    background-color: #24252a;
}

.ycfl-table h3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ycfl-table table {
    border-collapse: collapse;
    width: 100%;
}

.ycfl-table table .table-left {
    float: left;
    text-align: left;
}

.ycfl-table table th,
td {
    text-align: center;
    padding: 7px;
}

.ycfl-matches {
    background: radial-gradient(rgb(189, 156, 156), #f8b8b8);
    text-align: center;
}

.score {
    font-size: 70px;
}

.ycfl-matches h4 {
    text-align: center;
    color: #24252a;
    padding-bottom: 5px;
}

.ycfl-match {
    display: inline-flex;
    text-align: center;
    align-content: center;
}

.ycfl-match h1 {
    padding-top: 115px;
}

.team-img {
    margin: 50px;
    width: 200px;
}

.team-img p,
a {
    font-weight: 700;
    color: #24252a;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
}

.team-img img {
    width: 100%;
}

.hr {
    border-top: 2px solid #24252a;
}

hr {
    border-top: 2px solid #24252a;
}


/*----------------------------- Table class Start here end here----------------------------*/


/*----------------------------- media query for header start here----------------------------*/

@media screen and (max-width: 600px) {
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
        margin-left: 30px;
        position: relative;
        text-align: center;
    }
    .col-2 h3,
    h4,
    button {
        margin-left: 50px;
    }
    .col-2 img {
        max-width: 100%;
        margin-left: 30px;
        padding: 50px 0px;
    }
    .zi-img {
        width: 200px;
        margin-left: 20px;
    }
    .ycfl-matches h4 {
        text-align: center;
        color: #24252a;
        padding-bottom: 5px;
    }
}


/*----------------------------- media query for header end here----------------------------*/


/*----------------------------- media query for slogan end here----------------------------*/

@media screen and (max-width: 600px) {
    .league .slogan {
        margin-left: 50px;
        text-align: center;
        justify-content: space-around;
    }
    .league .col-2 .ycfl-img {
        width: 230px;
        padding: 50px 0px;
    }
    .league .slogan .ycfl-img img {
        width: 100%;
    }
}


/*----------------------------- media query for slogan end here----------------------------*/


/*----------------------------- media query for ycfl start here----------------------------*/

@media screen and (max-width: 600px) {
    .ycfl-teams {
        padding: 30px;
        background-color: #24252a;
        text-align: center;
    }
    .ycfl-teams h2,
    h1 {
        font-family: zillaslab;
        margin-bottom: 30px;
        color: #f2f2f2;
    }
    .ycfl-teams .row .teams {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 15px;
        margin-left: 15px;
        display: inline-block;
    }
    .score {
        font-size: 30px;
    }
    .ycfl-matches h4 {
        text-align: center;
        color: #24252a;
        margin-right: 60px;
        padding-bottom: 30px;
    }
    .ycfl-match {
        display: inline-flex;
        text-align: center;
        align-content: center;
    }
    .ycfl-match h1 {
        padding-top: 50px;
    }
    .team-img {
        margin: 25px;
        width: 100px;
    }
    .team-img p,
    a {
        text-decoration: none;
        text-align: center;
        padding-top: 10px;
    }
    .team-img img {
        width: 100%;
    }
}


/*----------------------------- media query for ycfl end here----------------------------*/


/*----------------------------- media query for ycfl start here----------------------------*/

@media screen and (max-width: 600px) {
    .zi-teams {
        padding: 30px;
        background: radial-gradient(rgb(189, 156, 156), #f8b8b8);
        text-align: center;
    }
    .zi-teams h2,
    h1 {
        font-family: zillaslab;
        margin-bottom: 30px;
        color: #24252a;
    }
    .zi-teams .row .teams {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 15px;
        margin-left: 15px;
        display: inline-block;
    }
}


/*----------------------------- media query for ycfl end here----------------------------*/


/*----------------------------- media query for FOOTER here----------------------------*/

@media screen and (max-width: 600px) {
    footer p,
    h3 {
        margin-left: 50px;
    }
    footer ul {
        margin-left: 50px;
    }
    body {
        width: 111%;
    }
}


/*----------------------------- media query for Footer here----------------------------*/